.form_wrapper {
    width: 30%;
    height: 15%;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin-top: 5%;
  }
  
  .form_wrapper form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  
  .form_wrapper form input {
    width: 80%;
    height: 20%;
    font-size: 100%;
    border-radius: 5px;
    border: solid 1px rgba(141, 141, 141, 0.7);
  }
  
  .form_wrapper form button {
    width: 20%;
    height: 20%;
    background-color: rgba(76, 104, 231, 0.8);
    color: #FFF;
  }