.list_wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list_wrapper ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  
  .list_wrapper li{
    width: 100%;
    height: 8%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .list_wrapper li span {
    width: 80%;
    font-size: 1.3rem;
    margin-left: 5%;
  }